<table class="table table-striped">
    <thead>
    <tr>
        <th>Created On</th>
        <th>Category</th>
        <th>Subject</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    {% for query in object_list %}
    <tr>
        <td>{{ query.creation_date }}</td>
        <td>{{ query.category }}</td>
        <td>{{ query.subject }}</td>
        <td>{{ query.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div style="float: right;">
    {% include 'pagination.html' %}
</div>