
{% extends "base.html" %}

<!--
{% load crispy_forms_tags %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Query{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="my_tender" %}
{% endblock %}

{% block container %}

<div class="container profile-head">
    <div class="row">
        <div class="col-sm-20">
            <h2> Query </h2>
        </div>
    </div>
</div>

<div class="container  profile-body">

    {% block form_heading %}Put Your Service Query{% endblock %}

    {% block form %}
    {% crispy form %}

    <div class="form-message">

    </div>
    {% endblock form %}

</div>

{% endblock %}
-->
