{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Query Details{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" %}
{% endblock %}

{% block container %}
<div class="container profile-head">
    <div class="row">
        <h1 class="text-primary">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Query Details
        </h1>
    </div>
</div>

<div class="container profile-body">
    <br/><br/>

    <div class="col-md-9">
        <b>Created On: </b>{{ query.creation_date }}<br/>
        <b>Category: </b>{{ query.category }}<br/><br/>
        <b>Subject: </b>{{ query.subject }}<br/><br/>
        <pre style="white-space:pre-wrap;">{{ query.content }}</pre><br/><br/>

        {% if query.user_id == request_user_id %}
            <br /><br />

            {% if offers %}
                <h4 style="display: inline;color: green;"> Available Offers...!! </h4>
                <br />
                {% include 'offer/offer_list.html' %}
            {% else %}
                <h4 style="display: inline;color: grey;"> No Offers yet...!! </h4>
            {% endif %}

            <br /><br /><br />
        {% else %}
            <a href="{% url 'profiles:show_self' %}?user_id={{query.user_id}}" class="btn btn-success" style="float: left;">Profile</a>
            <a href="{% url 'offer:do_offer' %}?query={{query.id}}" class="btn btn-success" style="float: right;">Offer</a>
        {% endif %}

    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'site/js/table_click.js' %}"></script>
{% endblock scripts %}