{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Query{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="my_tender" %}
{% endblock %}

{% block container %}

<div class="container profile-head">
    <div class="row">
        <h1 class="text-primary">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;Query
        </h1>
    </div>
</div>

<div class="container  profile-body">

    <div class="col-md-9">
        <h3>Put Your Service Query</h3>
        <form enctype="multipart/form-data" method="post">
            {% crispy query_form %}
        </form>
    </div>

</div>

{% endblock %}