{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block container %}

<div class="container profile-head">
    <div class="row">
        <div class="col-sm-20">
            <h1 class="text-primary" style="display: inline;">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home
            </h1>
            <form action="{% url 'offer:list_queries' %}" method="GET">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon1">SERVICES</span>
                            <input type="text" name="find" class="form-control" placeholder="What are you looking for..."
                                   id="txtSearch"/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container profile-body">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item text-center active" data-remote="true" href="#" id="categoria_0">
                    Categories
                </a>
                <a class="list-group-item" data-remote="true" href="#sub_categoria_1" id="categoria_1"
                   data-toggle="collapse" data-parent="#sub_categoria_1" style="padding-left: 25px;">
                    <span class="fa fa-paperclip fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Accounting & Taxation</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_1">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_1"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=accounting" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_1"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_2" id="categoria_2"
                   data-toggle="collapse" data-parent="#sub_categoria_2" style="padding-left: 25px;">
                    <span class="fa fa-area-chart fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Audit</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_2">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_2"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=audit" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_2"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_3" id="categoria_3"
                   data-toggle="collapse" data-parent="#sub_categoria_3" style="padding-left: 25px;">
                    <span class="fa fa-building fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Real Estate</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_3">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_3"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=real" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_3"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_4" id="categoria_4"
                   data-toggle="collapse" data-parent="#sub_categoria_4" style="padding-left: 25px;">
                    <span class="fa fa-cubes fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Construction</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_4">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item" data-parent="#sub_categoria_4"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=construction" class="list-group-item sub-item" data-parent="#sub_categoria_4"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_5" id="categoria_5"
                   data-toggle="collapse" data-parent="#sub_categoria_5" style="padding-left: 25px;">
                    <span class="fa fa-briefcase fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Finance</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_5">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_5"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=finance" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_5"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_6" id="categoria_6"
                   data-toggle="collapse" data-parent="#sub_categoria_6" style="padding-left: 25px;">
                    <span class="fa fa-medkit fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Health & Social</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_6">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_6"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=health" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_6"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_7" id="categoria_7"
                   data-toggle="collapse" data-parent="#sub_categoria_7" style="padding-left: 25px;">
                    <span class="fa fa-automobile fa-lg  fa-fw"></span>
                    <span style="margin-left: 25px;">Transport</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_7">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_7"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=transport" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_7"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_8" id="categoria_8"
                   data-toggle="collapse" data-parent="#sub_categoria_8" style="padding-left: 25px;">
                    <span class="fa fa-phone fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Communication</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_8">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_8"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=communication" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_8"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_9" id="categoria_9"
                   data-toggle="collapse" data-parent="#sub_categoria_9" style="padding-left: 25px;">
                    <span class="fa fa-laptop fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Information Technology</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_9">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_9"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=information" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_9"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_10" id="categoria_10"
                   data-toggle="collapse" data-parent="#sub_categoria_10" style="padding-left: 25px;">
                    <span class="fa fa-gavel fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Legal Service</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_10">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_10"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=legal" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_10"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>

                <a class="list-group-item" data-remote="true" href="#sub_categoria_11" id="categoria_11"
                   data-toggle="collapse" data-parent="#sub_categoria_11" style="padding-left: 25px;">
                    <span class="fa fa-plane fa-lg fa-fw"></span>
                    <span style="margin-left: 25px;">Tourism & Travel</span>
                </a>
                <div class="collapse list-group-submenu" id="sub_categoria_11">
                    <a href="{% url 'query:query' %}" class="list-group-item sub-item bg-faded" data-parent="#sub_categoria_11"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Buy</a>
                    <a href="{% url 'offer:list_queries' %}?cat=tourism" class="list-group-item sub-item bg-muted" data-parent="#sub_categoria_11"
                       style="padding-left: 78px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sell</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


