{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}My Chafferr{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="my_tender" %}
{% endblock %}

{% block container %}

<div class="container profile-head">
    <div class="row">
        <div class="col-sm-20">
            <h1 class="text-primary">
                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>&nbsp;My Chafferr
            </h1>
        </div>
    </div>
</div>

<div class="container  profile-body">
    <div>
        <h2 style="display: inline;"> Queries </h2>
        <a href="{% url 'query:query' %}" class="btn btn-success" style="float: right;">New</a>

        <br /><br />
        {% include 'query_list.html' %}
        <br /><br /><br />
    </div>

    <hr/>
    <div>
        <h2 style="display: inline;"> Offers </h2>
        <a href="{% url 'query:list_queries' %}" class="btn btn-success" style="float: right;">New</a>

        <br /><br />
        {% include 'offer/offer_list.html' %}
        <br /><br /><br />
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'site/js/table_click.js' %}"></script>
{% endblock scripts %}