{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Offer{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" %}
{% endblock %}

{% block container %}

<div class="container profile-head">
    <div class="row">
        <h1 class="text-primary">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Offer
        </h1>
    </div>
</div>

<div class="container  profile-body">

    <div class="col-md-9">
        <h3>Write your offer here...</h3>
        <form enctype="multipart/form-data" method="post">
            {% crispy offer_form %}
            <input type='hidden' name='query_id' value={{query_id}}>
        </form>
    </div>

</div>

{% endblock %}